Namespace in C++ | Set 1 (Introduction)

Namespace provide the space where we can define or declare identifier i.e. variable,  method, classes.
Using namespace, you can define the space or context in which identifiers are defined i.e. 
variable, method, classes. In essence, a namespace defines a scope.

Advantage of Namespace to avoid name collision.
Example, you might be writing some code that has a function called xyz() and there is another library available
 which is also having same function xyz(). Now the compiler has no way of knowing which version of xyz() 
 function you are referring to within your code.
A namespace is designed to overcome this difficulty and is used as additional information to differentiate
 similar functions, classes, variables etc. with the same name available in different libraries. 
The best example of namespace scope is the C++ standard library (std) where all the classes, methods and 
templates are declared. Hence while writing a C++ program we usually include the directive using namespace std;
 
Defining a Namespace:
A namespace definition begins with the keyword namespace followed by the namespace name as follows:
namespace  namespace_name 
{
    // code declarations i.e. variable  (int a;)
    method (void add();)
    classes ( class student{};)
}
It is to be noted that, there is no semicolon (;) after the closing brace.
To call the namespace-enabled version of either function or variable, prepend the namespace name as follows:
namespace_name: :code;  // code could be variable , function or class.
The using directive:
You can also avoid prepending of namespaces with the using namespace directive. This directive tells the compiler that the subsequent code is making use of names in the specified namespace. 
The namespace is thus implied for the following code:


1
#include <iostream>
2
using namespace std;
3
// first name space
4
namespace first_space
5
{
6
  void func()
7
  {
8
     cout << "Inside first_space" << endl;
9
  }
10
}
11
​
12
// second name space
13
namespace second_space
14
{
15
  void func()
16
  {
17
     cout << "Inside second_space" << endl;
18
  }
19
}
20
using namespace first_space;
21
int main ()
22
{
23
   // This calls function from first name space.
24
  func();
25
  return 0;
26
}
